.service-card {
	--service-card-border-color: var(--color-1-light);
	--service-card-main-color: var(--color-3-lighter);
	--service-card-hover-color: var(--color-2-lighter);
	--service-card-text-color: var(--color-3-darker);
	--service-card-arrow-main-color: var(--color-1);
	--service-card-arrow-accent-color: var(--color-3-lighter);
	--service-card-button-hover-bg: var(--color-2-light);
	--service-card-button-hover-color: var(--service-card-arrow-main-color);
	--service-card-padding: 1rem;
	--service-card-button-size: 40px;
	--service-card-number-size: 2rem;
	--service-card-title-size: 1.5rem;
	--service-card-description-size: 0.7rem;
	--service-card-arrow-size: 1.5rem;
	--service-card-color: var(--service-card-main-color);
	--service-card-arrow-image: url("images/arrow-right-linear.svg");
	--service-card-arrow-image-size: 20px;
}

.service-card {
	border-bottom: 2px solid var(--service-card-border-color);
	color: var(--service-card-hover-color);
	padding: var(--service-card-padding);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
	box-sizing: border-box;
}

.service-card:hover {
	--service-card-color: var(--service-card-hover-color);
	--service-card-button-hover-color: var(--service-card-arrow-accent-color);
}

.service-card__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.service-card__number {
	-webkit-text-stroke-color: var(--service-card-color);
	-webkit-text-stroke-width: 1px;
	font-size: var(--service-card-number-size);
	font-weight: bolder;
	color: transparent;
}

.service-card__button {
	background-color: var(--service-card-color);
	border-radius: 50%;
	width: var(--service-card-button-size);
	height: var(--service-card-button-size);
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
}

.service-card__button:hover,
.service-card__button:focus {
	background-color: var(--service-card-button-hover-bg);
}

.service-card__arrow {
	-webkit-mask: var(--service-card-arrow-image) no-repeat center / contain;
	mask: var(--service-card-arrow-image) no-repeat center / contain;
	background-color: var(--service-card-button-hover-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--service-card-arrow-image-size);
	height: var(--service-card-arrow-image-size);
	transform: rotate(45deg);
	transition: transform 0.3s ease-out;
}

.service-card__button:hover .service-card__arrow {
	background-color: var(--color-3-lighter);
	transform: rotate(0deg);
}

.service-card__title {
	color: var(--service-card-color);
	font-size: var(--service-card-title-size);
	font-weight: bolder;
	text-align: left;
	white-space: normal;
	word-break: break-word;
	margin: 0.25rem 0;
}

.service-card__description {
	font-size: var(--service-card-description-size);
	line-height: 1.5;
	color: var(--service-card-text-color);
	text-align: left;
	word-break: break-word;
	flex-grow: 1;
}

@media (min-width: 576px) {
	.service-card {
		--service-card-title-size: 1.6rem;
	}
}

@media (min-width: 768px) {
	.service-card {
		--service-card-title-size: 1.7rem;
	}
}

@media (min-width: 992px) {
	.service-card {
		--service-card-title-size: 1.8rem;
	}
}

@media (min-width: 1200px) {
	.service-card {
		--service-card-title-size: 1.9rem;
	}
}

@media (min-width: 1400px) {
	.service-card {
		--service-card-title-size: 2rem;
	}
}