<div class="nav-left">
	<img src="@Brand.LogoImagePath" alt="@Brand.LogoAltText" class="nav-logo" />
	<span class="project-name">@Brand.BrandDisplayName</span>
</div>

@code {
	[Parameter, EditorRequired] public NavBrandData Brand { get; set; } = new("icon.png", "Project", "Logo");
}
