<div class="@CssClassName" @onclick="HandleClick">
	<NavLink class="nav-link" href="@TargetUrl" Match="NavLinkMatch.All">
		<span class="nav-label">@DisplayText</span>
	</NavLink>
</div>

@code {
	[Parameter, EditorRequired] public string DisplayText { get; set; } = "link";
	[Parameter, EditorRequired] public string TargetUrl { get; set; } = "link";
	[Parameter, EditorRequired] public string CssClassName { get; set; } = "nav-text";

	[Parameter] public EventCallback OnClickHandler { get; set; }

	private async Task HandleClick(MouseEventArgs e)
	{
		if (OnClickHandler.HasDelegate)
		{
			await OnClickHandler.InvokeAsync();
		}
	}
}
