<div class="nav-item" @onclick="HandleNavMenuItemClickAsync">
	<NavLink class="nav-item__link" href="@TargetUrl" Match="NavLinkMatch.All">
		<span class="nav-item__label @CssModifier">@DisplayText</span>
	</NavLink>
</div>

@code {
	[Parameter, EditorRequired] public NavigationLinkItemInfo NavigationLinkInfo { get; set; } = new();
	[Parameter] public TargetUrlFormat LinkType { get; set; } = TargetUrlFormat.HashPrefix;
	[Parameter] public EventCallback OnNavMenuItemClick { get; set; }

	public string DisplayText => NavigationLinkInfo.DisplayText;
	public string RawTargetUrl => NavigationLinkInfo.RawTargetUrl;
	public string TargetUrl => NavigationUrlFormatter.GetFormattedSanitizedTargetUrl(RawTargetUrl, LinkType);

	public string CssModifier => NavigationLinkInfo.CssClassName switch
	{
		"button" => "--button",
		"button-accent" => "--button-accent",
		_ => string.Empty,
	};

	private async Task HandleNavMenuItemClickAsync(MouseEventArgs mouseEventArgs)
	{
		if (OnNavMenuItemClick.HasDelegate)
		{
			await OnNavMenuItemClick.InvokeAsync();
		}
	}
}
