<div class="@CssClass" @onclick="HandleClick">
	<NavLink class="nav-link" href="@Href" Match="NavLinkMatch.All">
		<span class="nav-label">@Text</span>
	</NavLink>
</div>

@code {
	[Parameter] public string Text { get; set; } = "Link";
	[Parameter] public string Href { get; set; } = "Link";
	[Parameter] public string CssClass { get; set; } = "nav-text";
	[Parameter] public EventCallback OnClickHandler { get; set; }

	private async Task HandleClick(MouseEventArgs e)
	{
		if (OnClickHandler.HasDelegate)
		{
			await OnClickHandler.InvokeAsync();
		}
	}
}
