@inject IJSRuntime Js
@implements IDisposable

<nav class="nav-bar">
    <div class="nav-bar__container">
        <Brand BrandInfo="@AppLayoutData.BrandInfo" />

        <div class="nav-bar__links">
            @foreach (NavigationLinkItemInfo item in AppLayoutData.NavigationLinks)
            {
                <NavLinkItem NavigationLinkInfo="item" />
            }
        </div>

        <div class="nav-bar__contact-link">
            <NavLinkItem NavigationLinkInfo="@AppLayoutData.ContactLink" />
        </div>

        <img class="nav-bar__toggle" src="images/menu-burger.svg" @onclick="ToggleSidebar" />
    </div>
</nav>

<SideMenu IsOpened="@isSidebarOpen" OnClose="@ToggleSidebar" />

@code {
    private DotNetObjectReference<NavMenu>? dotNetRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetRef = DotNetObjectReference.Create(this);
            await Js.InvokeVoidAsync("resizeNotifier.registerResizeCallback", dotNetRef);
        }
    }

    [JSInvokable]
    public void OnResize(int width)
    {
        if (width >= 992 && isSidebarOpen)
        {
            isSidebarOpen = false;
            StateHasChanged();
        }
    }

    private bool isSidebarOpen = false;
    private void ToggleSidebar() => isSidebarOpen = !isSidebarOpen;

    public void Dispose()
    {
        dotNetRef?.Dispose();
    }
}
