<div class="side-bar @(IsOpened ? "--open" : "")">
    <img class="side-bar__close-btn" src="images/cross-small.svg" @onclick="CloseMenu" />

    <div class="side-bar__content">
        <div class="side-bar__links">
            @foreach (NavigationLinkItemInfo item in AppLayoutData.NavigationLinks)
            {
                <div class="side-bar__link">
                    <NavLinkItem NavigationLinkInfo="item" LinkType="@TargetUrlFormat.HashPrefix"
                        OnNavMenuItemClick="CloseMenu" />
                </div>
            }
        </div>

        <div class="side-bar__contact">
            <NavLinkItem NavigationLinkInfo="AppLayoutData.ContactLinkAccent" LinkType="@TargetUrlFormat.HashPrefix"
                OnNavMenuItemClick="CloseMenu" />
        </div>
    </div>
</div>

@if (IsOpened)
{
    <div class="side-bar__backdrop" @onclick="CloseMenu"></div>
}

@code {
    [Parameter, EditorRequired] public bool IsOpened { get; set; } = false;
    [Parameter] public EventCallback OnClose { get; set; }
    public Task CloseMenu() => OnClose.InvokeAsync();

}
