.side-bar {
	--sidebar-padding: 1rem;
	--sidebar-gap: 2rem;
	--sidebar-close-btn-size: 1.2rem;
	--sidebar-close-btn-padding: 0.4rem;
	--sidebar-color: var(--color-1);
	--sidebar-overlay-color: #000000;
	--sidebar-separator: var(--color-1-light);
	--sidebar-close-btn-color-1: var(--color-2-lighter);
	--sidebar-close-btn-color-2: var(--color-2-light);
	--sidebar-close-image: url("images/close-button.svg");
}

.side-bar {
	position: fixed;
	inset: 0;
	z-index: 1000;
	pointer-events: none;
}

.side-bar__backdrop {
	background-color: var(--sidebar-overlay-color);
	position: fixed;
	inset: 0;
	opacity: 0.85;
	z-index: 1000;
	pointer-events: all;
}

.side-bar__slider {
	background-color: var(--sidebar-color);
	position: fixed;
	top: 0;
	right: 0;
	width: 75%;
	max-width: 400px;
	height: 100svh;
	padding: var(--sidebar-padding);
	transform: translateX(100%);
	transition: transform 0.2s ease-out;
	display: flex;
	flex-direction: column;
	z-index: 1001;
	pointer-events: all;
}

.side-bar__slider--open {
	transform: translateX(0%);
}

.side-bar__close-btn {
	width: var(--sidebar-close-btn-size);
	height: var(--sidebar-close-btn-size);
	margin: var(--sidebar-close-btn-padding);
	cursor: pointer;
	align-self: flex-end;
}

.side-bar__close-btn--mask {
	-webkit-mask-image: var(--sidebar-close-image);
	mask-image: var(--sidebar-close-image);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	background-color: var(--sidebar-close-btn-color-1);
	mask-size: contain;
	border: none;
}

.side-bar__close-btn--mask:hover,
.side-bar__close-btn--mask:focus {
	background-color: var(--sidebar-close-btn-color-2);
}

.side-bar__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.side-bar__links {
	display: flex;
	flex-direction: column;
	gap: var(--sidebar-gap);
	margin-top: 1rem;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.side-bar__link
{
	width: fit-content;
}

.side-bar__logo {
	margin-bottom: 3.5rem;
}

.side-bar__contact {
	width: 100%;
	margin-top: 2rem;
	padding-top: 1rem;
	border-top: 1px solid var(--sidebar-separator);
}

@media (min-width: 576px) {
	.side-bar {
		--sidebar-gap: 2.2rem;
		--sidebar-close-btn-size: 1.4rem;
		--sidebar-close-btn-padding: 0.5rem;
	}
}

@media (min-width: 768px) {
	.side-bar {
		--sidebar-gap: 2.6rem;
		--sidebar-close-btn-size: 1.6rem;
		--sidebar-close-btn-padding: 0.6rem;
	}
}
