.skill-section {
	--description-font-color: var(--color-3-dark);
	--scrollbar-slider-color: var(--color-2-lighter);
}

.skill-section__heading,
.skill-section__description {
	text-align: center;
}

.skill-section__heading {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
}

.skill-section__description {
	margin-top: 1.5rem;
	font-size: 0.785rem;
	color: var(--description-font-color);
	margin-bottom: 2rem;
}

.skill-section__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
	grid-auto-rows: 1fr;
	gap: 1rem;
}

@media (min-width: 768px) {

	.skill-section__heading,
	.skill-section__description {
		text-align: left;
	}

	.skill-section__grid {
		padding-right: 0.3rem;
		max-height: 320px;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--scrollbar-slider-color) transparent;
	}

	.skill-section__grid::-webkit-scrollbar {
		width: 6px;
	}

	.skill-section__grid::-webkit-scrollbar-track {
		background: transparent;
	}

	.skill-section__grid::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-slider-color);
		border-radius: 3px;
	}
}