<div class="resume-section">
	<h3>Skills</h3>
	<ul>
		<li>Blazor / ASP.NET Core</li>
		<li>JavaScript</li>
		<li>CSS / Bootstrap</li>
		<li>SQL / Entity Framework</li>
		<li>C# / GDScript</li>
		<li>Godot / Unreal</li>
	</ul>
</div>
