@inherits LayoutComponentBase
@using MyPortfolio.Layout.Navigation
@using MyPortfolio.Models.Navigation
@using MyPortfolio.Models

<div class="page">
	<main>
		<NavMenu Brand="@MainLayoutData.BrandInfo" NavLinkItems="@MainLayoutData.NavLinkItems"
			ContactData="@MainLayoutData.ContactData" />

		<article class="content">
			<Counter />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<Home />
			<section id="home">
				<Home />
			</section>
		</article>
	</main>
</div>

@code {
	[Parameter] public MainLayoutData MainLayoutData { get; set; } = new();
}
