.info-card {
	--bg: var(--color-1-light);
	--header-color: var(--color-2-lighter);
	--footer-color: var(--color-3-dark);
	--side-bg: var(--color-2-lighter);
	--read-more-color: var(--color-3-lightest);
	--read-more-font: var(--font-1);
}

.info-card {
	display: grid;
	grid-template-columns: 1fr auto;
	background-color: var(--bg);
	height: 140px;
}

.info-card--expanded {
	height: auto;
}

.info-card__left {
	display: flex;
	flex-direction: column;
	padding: 0.75rem 1rem;
	position: relative;
	overflow: hidden;
}

.info-card__header {
	color: var(--header-color);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 0.5rem;
}

.info-card__header--expanded {
	margin-bottom: 1.5rem;
	white-space: normal;
	word-break: break-word;
}

.info-card__body-holder {
	flex: 1;
}

.info-card__body {
	margin: 0;
	font-weight: 600;
	font-family: var(--font-2);
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	word-break: break-word;
}

.info-card__body--expanded {
	display: block;
	-webkit-line-clamp: unset;
	line-clamp: unset;
	overflow: visible;
	text-overflow: clip;
	white-space: normal;
	word-break: break-word;
	overflow-wrap: anywhere;
}

.info-card__footer {
	color: var(--footer-color);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 0;
	margin-top: 0.5rem;
}

.info-card__footer--expanded {
	margin-top: 1rem;
	white-space: normal;
	text-overflow: clip;
	overflow: visible;
	word-break: break-word;
	overflow-wrap: anywhere;
}

.info-card__right {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.25rem;
	background-color: var(--side-bg);
}

.info-card__read-more {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-family: var(--read-more-font);
	text-transform: uppercase;
	color: var(--read-more-color);
	border: none;
	background: none;
	cursor: pointer;
}