<div class="service-card">
	<div class="service-card__header">
		<h1 class="service-card__number">@(ServiceNo.ToString("D2"))</h1>

		<button class="service-card__button" name="navigateButton" @onclick="NavigateToForm">
			<div class="service-card__arrow" />
		</button>
	</div>

	<h3 class="service-card__title">@_name</h3>
	<p class="service-card__description">@_description</p>
</div>

@code {
	[Inject] private NavigationManager NavigationManager { get; set; } = null!;
	[Inject] private SelectedServiceState SelectedServiceState { get; set; } = null!;

	[Parameter, EditorRequired] public int ServiceNo { get; set; } = 0;
	[Parameter, EditorRequired] public ServiceInfo Service { get; set; } = ServiceInfo.Default;

	private string _name => Service.Name;
	private string _description => Service.Description;

	private void NavigateToForm()
	{
		SelectedServiceState.SetSelectedService(Service);
		NavigationManager.NavigateTo("contact");
	}
}
