@inherits LayoutComponentBase

<PageTitle>My Portfolio</PageTitle>

<div class="page">
    <nav class="page__nav-bar">
        <NavMenu />
    </nav>

    <main class="page__content">
        <div class="page__content-inner">
            @Body
        </div>
    </main>
</div>
