.modal {
	--backdrop-color: rgba(1, 1, 1, 0.65);
	--max-width: 600px;
	--content-padding: 0.75rem;
	--close-size: 1.6rem;
	--close-color: var(--color-3-lightest);
	--close-icon: url("images/close-button.svg");
}

.modal {
	position: fixed;
	inset: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 2rem 0;
	overflow-y: auto;
}

.modal__backdrop {
	position: fixed;
	inset: 0;
	background-color: var(--backdrop-color);
	z-index: -1;
	pointer-events: none;
}

.modal__container {
	background: var(--color-3);
	max-width: var(--max-width);
	width: 95%;
	display: flex;
	flex-direction: column;
	padding: 2px;
}

.modal__header {
	background: var(--color-1-light);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--content-padding);
	border-bottom: 2px solid var(--color-1-lighter);
}

.modal__title {
	margin: 0;
	font-weight: 700;
}

.modal__close-btn {
	width: var(--close-size);
	height: var(--close-size);
	border: none;
	cursor: pointer;
	background-color: transparent;
	-webkit-mask-image: var(--close-icon);
	mask-image: var(--close-icon);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	background-color: var(--close-color);
}

@media (min-width: 768px) {
	.modal__container {
		width: 85%;
	}

	.modal {
		padding: 3rem 0;
	}
}

@media (min-width: 1200px) {
	.modal__container {
		width: 70%;
	}
}