.contact-option {
	--icon-size: 1.1rem;
	--icon-padding: 0.6rem;
	--icon-color: var(--color-2-lighter);
	--icon-image: url("images/web.svg");
	--bg-color: var(--color-1-dark);
	--title-color: var(--color-3-dark);
	--font-family: var(--font-2);
}

.contact-option {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 280px;
	flex: 1;
}

.contact-option__icon-holder {
	background-color: var(--bg-color);
	padding: var(--icon-padding);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50vw;
}

.contact-option__icon {
	width: var(--icon-size);
	height: var(--icon-size);
	background-color: var(--icon-color);
	-webkit-mask: var(--icon-image) no-repeat center / contain;
	mask: var(--icon-image) no-repeat center / contain;
	flex-shrink: 0;
}

.contact-option__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	min-width: 0;
	overflow: hidden;
}

.contact-option__title,
.contact-option__detail {
	overflow-wrap: break-word;
	word-break: break-word;
	margin: 0;
}

.contact-option__title {
	font-family: var(--font-family);
	color: var(--title-color);
	line-height: 1.2;
}

.contact-option__detail {
	font-weight: bold;
}

.contact-option__detail a {
	color: inherit;
	text-decoration: none;
}

.contact-option__detail a:hover {
	color: var(--icon-color);
}