<div class="skill-box" title="@_skillName">
	<div class="skill-box__icon" id="@_elementId" />
</div>

@code {
	[Parameter, EditorRequired] public SkillInfo SkillInfo { get; set; } = new();

	[Inject] private IJSRuntime? JS { get; set; }

	private string _skillName => SkillInfo.SkillName;
	private string _skillImageUrl => SkillInfo.IconUrl;

	private string _fallbackUrl = "images/web.svg";
	private string _elementId = $"skill_{Guid.NewGuid():N}";

	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender && JS is not null)
		{
			JS.InvokeVoidAsync("imageLoader.applyCssImageWithFallback", new ImageLoaderOptions
			{
				ElementId = _elementId,
				CssProperty = "--skill-icon-image",
				ImageUrl = _skillImageUrl,
				FallbackUrl = _fallbackUrl,
				UseVariable = true
			});
		}
	}
}
