.search-input {
	--input-bg: var(--color-1);
	--input-text-color: var(--color-3-lightest);
	--input-border-color: var(--color-1-lighter);
	--input-border-focus: var(--color-2-lighter);
	--clear-button-bg: var(--color-1-light);
	--clear-icon-color: var(--color-3);
	--clear-icon-url: url("images/close-button-circle.svg");
}

.search-input {
	position: relative;
	width: 100%;
}

.search-input__field {
	width: 100%;
	padding: 0.65rem 2.5rem 0.65rem 1rem;
	background-color: var(--input-bg);
	color: var(--input-text-color);
	border: 1px solid var(--input-border-color);
	transition: border-color 0.3s;
	box-sizing: border-box;
}

.search-input__field:focus {
	border-color: var(--input-border-focus);
	outline: none;
}

.search-input__clear-button {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
	width: 1.5rem;
	height: 1.5rem;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	background-color: var(--clear-icon-color);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in;

	mask-image: var(--clear-icon-url);
	-webkit-mask-image: var(--clear-icon-url);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: contain;
}