.search-input {
	--search-font-size: 0.875rem;
	--search-color-input: var(--color-1);
	--search-color-text: var(--color-3-lightest);
	--search-border-color: var(--color-1-lighter);
	--search-border-color-focus: var(--color-2-lighter);
	--search-button-bg: var(--color-1-light);
	--search-button-icon-color: var(--color-3);
	--search-button-icon: url("images/close-button-circle.svg");
}

.search-input {
	position: relative;
	width: 100%;
}

.search-input__field {
	width: 100%;
	padding: 0.65rem 2.5rem 0.65rem 1rem;
	font-size: var(--search-font-size);
	background-color: var(--search-color-input);
	color: var(--search-color-text);
	border: 1px solid var(--search-border-color);
	transition: border-color 0.3s;
	box-sizing: border-box;
}

.search-input__field:focus {
	border-color: var(--search-border-color-focus);
	outline: none;
}

.search-input__clear-button {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
	width: 1.5rem;
	height: 1.5rem;
	border: none;
	background-color: var(--search-button-bg);
	cursor: pointer;
	border-radius: 6px;
	transition: all 0.3s ease-in;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25rem;
	line-height: 1;
	mask-image: var(--search-button-icon);
	-webkit-mask-image: var(--search-button-icon);
	background-color: var(--search-button-icon-color);
}