.hero {
	--hero-height: 100dvh;
	--hero-title-font-size: 2rem;
	--hero-title-line-height: 1.2em;
	--hero-title-margin-bottom: 1rem;
	--hero-description-font-size: 0.85rem;
	--hero-description-margin-bottom: 2.5rem;
	--hero-buttons-gap: 1rem;
	--hero-button-width: 250px;
}

.hero {
	position: relative;
	height: var(--hero-height);
}

.hero__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}

.hero__overlay {
	background-color: var(--color-primary-overlay);
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero__content {
	display: grid;
	justify-content: center;
	text-align: center;
	padding: 2rem;
}

.hero__title {
	color: var(--color-accent-main);
	font-size: var(--hero-title-font-size);
	line-height: var(--hero-title-line-height);
	margin-bottom: var(--hero-title-margin-bottom);
	font-weight: bold;
}

.hero__description {
	color: var(--color-background-muted);
	font-size: var(--hero-description-font-size);
	margin-bottom: var(--hero-description-margin-bottom);
}

.hero__buttons {
	gap: var(--hero-buttons-gap);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.hero__button {
	width: var(--hero-button-width);
}

.--highlight {
	color: var(--color-background-main);
	font-weight: bolder;
}

@media (min-width: 576px) {
	.hero {
		--hero-title-font-size: 3rem;
		--hero-title-margin-bottom: 1.5rem;
		--hero-description-font-size: 1.05rem;
		--hero-description-margin-bottom: 2.7rem;
	}
}