.nav-item {
	--navitem-padding: 0.5rem;
	--navitem-font-size: 0.875rem;

	--navitem-label-bg-accent: var(--color-2-lighter);
	--navitem-label-color-main: var(--color-1);
	--navitem-label-color-accent: var(--color-2-lighter);
	--navitem-label-color-light: var(--color-2-light);
	--navitem-label-color-lightest: var(--color-3-lightest);
	--navitem-label-color-darkest: var(--color-3-dark);

	--navitem-link-underline-color: var(--color-2-lighter);

	--navitem-label-button-accent-bg: var(--color-1-lighter);
	--navitem-label-button-accent-color: var(--color-2-lighter);
	--navitem-label-button-accent-hover-color: var(--color-2-lightest);
	--navitem-label-button-accent-hover-bg: var(--color-3-darker);
}

.nav-item {
	font-size: var(--navitem-font-size);
	width: auto;
	height: 100%;
	cursor: pointer;
	transition: color 0.1s ease-out;
}

.nav-item:hover,
.nav-item.active {
	color: var(--navitem-label-color-accent);
}

::deep .nav-item__link {
	color: inherit;
}

.nav-item__link--button {
	background: none;
	border: none;
	width: 100%;
	padding: 0;
	text-align: inherit;
	font: inherit;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

::deep .nav-item__link--underline {
	color: var(--navitem-label-color-accent);
	display: inline-block;
	position: relative;
}

::deep .nav-item__link--underline::after {
	background-color: var(--navitem-link-underline-color);
	position: absolute;
	content: "";
	bottom: -0.2rem;
	left: 0;
	width: 100%;
	height: 2px;
	transition: transform 0.3s ease;
}

.nav-item__label {
	font-weight: bold;
	display: flex;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.nav-item__label--button,
.nav-item__label--button-accent {
	padding: var(--navitem-padding);
	justify-content: center;
	transition: all 0.3s ease-out;
	font-weight: bolder;
}

.nav-item__label--button {
	background-color: var(--navitem-label-bg-accent);
	color: var(--navitem-label-color-main);
}

.nav-item__label--button-accent {
	background-color: var(--navitem-label-button-accent-bg);
	color: var(--navitem-label-button-accent-color);
}

.nav-item__label--button:hover {
	color: var(--navitem-label-color-lightest);
	background-color: var(--navitem-label-color-light);
}

.nav-item__label--button-accent:hover {
	color: var(--navitem-label-button-accent-hover-color);
	background-color: var(--navitem-label-button-accent-hover-bg);
}

@media (min-width: 576px) {
	.nav-item {
		--navitem-font-size: 1.1rem;
	}
}

@media (min-width: 768px) {
	.nav-item {
		--navitem-font-size: 1.2rem;
	}
}

@media (min-width: 992px) {
	.nav-item {
		--navitem-font-size: 1.1rem;
	}

	.nav-item__label {
		justify-content: center;
	}
}

@media (min-width: 1200px) {
	.nav-item {
		--navitem-font-size: 0.875rem;
	}
}