@page "/contact"

<div class="contact">
	<div class="contact__grid">
		<ContactForm ContactFormLayout="@_contactFormLayoutData" ServiceFilter="new FuzzySearchFilter()"
			ServicesNames="@_serviceNames" SelectedService="@_selectedService?.Name" />

		<div class="contact__info-grid">
			@foreach (ExternalLinkInfo info in _contactInfos)
			{
				<ContactOption ContactInfo="@info" />
			}
		</div>
	</div>
</div>

@code {
	[Inject] private PortfolioData AppContent { get; set; } = null!;
	[Inject] private IContactFormDataService ContactFormData { get; set; } = null!;

	private ContactFormInfo _contactFormLayoutData => AppContent.Layout.ContactForm;

	private ServiceInfo? _selectedService;
	private List<string> _serviceNames = [];
	private List<ExternalLinkInfo> _contactInfos = [];

	protected override void OnInitialized()
	{
		_selectedService = ContactFormData.GetSelectedService();
		_serviceNames.AddRange(ContactFormData.GetServiceNames());
		PopulateContactInfos();
	}

	private void PopulateContactInfos()
	{
		_contactInfos.AddRange(AppContent.User.ContactLinks);
		_contactInfos.AddRange(AppContent.User.SocialLinks);
	}
}
